{
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "useTabs": true,
    "arrowParens": "avoid",
    "proseWrap": "preserve",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "eslintIntegration": true,
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "parser": "babel",
    "requireConfig": false,
    "stylelintIntegration": true,
    "trailingComma": "none"
}
